<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 设置mybatis使用map时没有数据的时候返回null -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <!-- 分页插件拦截器 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
            <!--<!–分页参数合理化  –>-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>